.console-output {
    background: #444;
    color: #fff;
    padding: 25px;
    border-radius: 5px;
    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}

.console-output a:link {
    color: #3498DB !important   
}

pre {
    color: #f2f2f2 !important;
}
