.console-output {
    background: #444;
    color: #f2f2f2 !important;
    padding: 25px;
    border-radius: 5px;
    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace !important;
}

.console-output a:link {
    color: #3498DB !important   
}

@media (min-width: 1170px)
body.two-column #side-panel {
    width: 250px;
}
